# Log dosyalarını engelle (Hem ana dizindekileri hem collector içindekini)
*.log
log-collector/app.log

# macOS işletim sisteminin otomatik oluşturduğu gizli çöp dosyaları
.DS_Store
log-collector/.DS_Store

# Çevre değişkenleri (API ANAHTARININ GİTMEMESİ İÇİN ŞART!)
*.env
.env

# Derlenmiş (Build edilmiş) klasörler ve binary dosyalar
/dist/                  
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

#BURAYI YAPAY ZEKAYA YAPTIRDIM DÖNÜP TEKRAR BAKICAM