 # Log dosyalarını engelle
*.log
log-collector/app.log

# Burayı yapau zekaya yaptırdım dönüp bir daha bakıcam 
/dist/                  
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

echo ".DS_Store" >> .gitignore
echo "log-collecter/.DS_Store" >> .gitignore
echo "log-collecter/app.log" >> .gitignore